/*//////////////////////////////////////////////////
--------------------------------------------------
GENERAL
--------------------------------------------------
//////////////////////////////////////////////////*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

/*//////////////////////////////////////////////////
--------------------------------------------------
FRAMEWORK CUSTOMIZATION
--------------------------------------------------
//////////////////////////////////////////////////*/

[class*="col-"] {
  background: pink;
  border: 1px solid #000;
  height: 250px;
  padding: 16px;
  text-align: center;
  float: left;
  display: table;
}

.nested [class*="col-"] {
  background: PaleVioletRed;
  border: 1px solid #fff;
  height: calc((250px - 32px) - 2px);
}

/*//////////////////////////////////////////////////
--------------------------------------------------
TYPOGRAPHY
--------------------------------------------------
//////////////////////////////////////////////////*/

p {
  display: table-cell;
  vertical-align: middle;
}
